@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

body {
    /* uigradients.com */
    background: #FF5B00;  /* fallback for old browsers */
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Unbounded', cursive;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #FAC213;
    border: 1px solid #FAC213;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: large;
    font-family: 'Unbounded', cursive;
}

#btn:hover{
    background-color: black;
    border: 1px solid #000000;
    color: bisque;
}

#activity{
    color: white;
}